<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t("email.authentication.title") %></h1>
    <p>
      <%= I18n.t("email.authentication.introduction") %>
    </p>
    <p>
      <a href="<%= @link %>">
        <%= @link %>
      </a>
    </p>
    <p><%= I18n.t("email.salutation") %></p>
    <p><%= I18n.t("email.signature") %></p>
  </body>
</html>
