<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t("email.confirmation.title") %></h1>
    <p>
      <%= I18n.t("email.confirmation.introduction") %>
    </p>
    <p>
      <a href=http://localhost:3001/authenticate/<%= @authentication[:emailtoken] %>>
        http://localhost:3001/authenticate/<%= @authentication[:emailtoken] %>
      </a>
    </p>
    <p><%= I18n.t("email.salutation") %></p>
    <p><%= I18n.t("email.signature") %></p>
  </body>
</html>
